<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/master.xhtml">
	<ui:define name="content">
		<h1>Usuarios</h1>
		<h:form id="frm">
		
			<p:messages autoUpdate="true" />
		
			<p:panel>
				<f:facet name="header">Buscar usuario</f:facet>
				<h:panelGrid id="pgb" columns="6">
					<p:outputLabel for="txtNombreUsuario" value="Usuario" />
					<p:inputText id="txtNombreUsuario" value="#{usuarioBean.nombreUsuario}" required="true"/>
					<p:message for="txtNombreUsuario" display="text" />
					<h:column />
					<p:commandButton value="Buscar" actionListener="#{usuarioBean.bucarUsuario()}" update="frm:dtu,txtNombreUsuario" process="@this,frm:txtNombreUsuario"/>
					<p:commandButton value="Actulizar Lista" actionListener="#{usuarioBean.listar()}" update="frm:dtu" immediate="true" process="@this"/>
				</h:panelGrid>
				<hr />
			
			
				<p:dataTable id="dtu" var="e" value="#{usuarioBean.usuarios}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15">
	
					<p:column headerText="Nombre Completo">
						<p:outputLabel value="#{e.usuario}" />
					</p:column>
	
					<p:column headerText="Estado">
						<p:graphicImage library="images" name="checkmark.jpg" width="20" height="20" rendered="#{e.estado == 'A'}"/>
						<p:graphicImage library="images" name="symbolb.jpg" width="20" height="20" rendered="#{e.estado != 'A'}"/>
					</p:column>
					
					<p:column headerText="Acciones">
						<p:commandLink actionListener="#{usuarioBean.modificar(e)}" oncomplete="PF('wdlg').show()" update="frmd:dlg" immediate="true" process="@this">
							<p:graphicImage library="images" name="edit.jpg" />
						</p:commandLink>
					</p:column>
				</p:dataTable>
				
			</p:panel>
		</h:form>
		<!-- https://stackoverflow.com/questions/25339056/understanding-primefaces-process-update-and-jsf-fajax-execute-render-attributes -->
		<h:form id="frmd">
			<p:dialog id="dlg" widgetVar="wdlg" modal="true" header="#{usuarioBean.tipoDialogo}" closable="false" closeOnEscape="false" resizable="false" draggable="true">
				<p:messages autoUpdate="true" />
				<h:panelGrid id="pgu" columns="4">
					<p:outputLabel for="txtUsuario" value="Usuario"/>
					<p:inputText id="txtUsuario" value="#{usuarioBean.usuario.usuario}" disabled="true"/>
					<p:message for="txtUsuario" display="text"/>
					<h:column />
					
					<p:outputLabel for="txtPass" value="Password"/>
					<p:password id="txtPass" value="#{usuarioBean.password}" required="true" disabled="#{usuarioBean.desactivarBotonValidar}"/>
					<p:message for="txtPass" display="icon"/>
					<p:commandButton id="btnv" value="Validar Password" actionListener="#{usuarioBean.validarPassword(usuarioBean.password)}" 
						disabled="#{usuarioBean.desactivarBotonValidar}" update="frmd:txtPass,btnv,btn,pwd1,pwd2" process="@this, frmd:txtUsuario,txtPass" />
					
					<p:outputLabel for="pwd1" value="Nuevo Password:" />
					<p:password id="pwd1" value="#{usuarioBean.nuevoPassword}"
						match="pwd2" label="Password 1" required="true" disabled="#{!usuarioBean.activaBotonAceptar}"
						validatorMessage="Contraseñas no coinciden" />
					<p:message for="pwd1" display="icon" />
					<h:column />

					<p:outputLabel for="pwd2" value="Repetir Password:" />
					<p:password id="pwd2" value="#{usuarioBean.nuevoPassword}"
						label="Password 2" required="true" disabled="#{!usuarioBean.activaBotonAceptar}" />
					<h:column />
					<h:column />
					
				</h:panelGrid>
				
				<p:commandButton id="btn" value="Aceptar" disabled="#{!usuarioBean.activaBotonAceptar}" actionListener="#{usuarioBean.actualizaeClave()}"
				oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()" update="frmd:btn" process="@this,frmd:pwd1,pwd2"/>
				<p:commandButton value="Cerrar" actionListener="#{usuarioBean.limpiarControles()}" 
					oncomplete="PF('wdlg').hide()" update="frmd:pgu,txtPass,btnv,btn,pwd1,pwd2" immediate="true" process="@this"/>
				
				
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>

</html>